[Unit]
Description=NodeHome Firewall NDP Proxy
After=network-online.target
 
[Service]
Type=simple
Environment=PYTHONPATH=/opt/h42-nhfw
ExecStart=/usr/bin/python3 -m nhfw.ndpproxy
PIDFile=/run/nhfw.ndpproxy.pid
Restart=on-failure
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target